:root {
    --primary-color: #f0f4ef;
    --secondary-color: #b4cded;
    --accent1-color: #344966;
    --accent2-color: #0d1821;

}

.hero div {
    position: relative;
}

.hero h1 {
    color: var(--accent2-color);
    position: absolute;
    background-color: aliceblue;
}

.hero article {
    position: absolute;
}

.hero p {
    color: var(--accent1-color);
    position: absolute;
    margin: 200px;
}

a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}

.hero article img {
    display: block;
    width: 20%;
    float: right;
    padding: 250px;
    background-color: aliceblue;
    margin: 12px;
}

.socialmedia img {
    display: block;
    width: 3%;
    height: auto;
    padding: 0.5rem;
    float: left;
}