:root {
    --primary-color: #f0f4ef;
    --secondary-color: #b4cded;
    --accent1-color: #344966;
    --accent2-color: #0d1821;

    }

    div{
        position: relative;
    }

    .hero h1 {
        color: var(--accent2-color);
        position: absolute;
    }
    
    .hero article {
        position: absolute;
    }

    p {
        color: var(--accent1-color);
    }
    
   a {
        text-decoration: none;
    }

    .hero img {
        display: block;
        width: 100%;
        height: auto;
        float: right;
    }

    .socialmedia img{
        display: block;
        width: 3%;
        height: auto;
        padding: 0.5rem;
        float: left;
    }